<% content_for(:title, "Food-Index") %>
<h1>Foods</h1>

<div class="card">
    <% @foods.each do |food| %>
    <button class="btn btn-info"><li><%= link_to food.name, food_path(food) %></li></button>
    <br>
    <% end %>
</div>

<hr>
<div class="return">
    <button class="btn btn-warning"> <%= link_to "New Food", new_food_path %></button>
</div>
